@font-face {
  font-family: "GeneralSans-Regular";
  src: url("GeneralSans-Regular.woff2") format("woff2"),
    url("GeneralSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans-Medium";
  src: url("GeneralSans-Medium.woff2") format("woff2"),
    url("GeneralSans-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans-Semibold";
  src: url("GeneralSans-Semibold.woff2") format("woff2"),
    url("GeneralSans-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
