$bg: #111;
$bg: #151617;

$colMain: #e7e7e7;
$colSub: #a1a1a1;
$colorA: #a1a1a1;

// Dimensions
$font-st: 13px;
$font-sl: 14px;
$font-sm: 16px;
$font-rg: 20px;
$font-md: 24px;
$font-bg: 30px;
$font-lg: 48px;
$font-xl: 64px;

$borderA: 2px solid #444;
$borderMain: 1px solid rgba(100, 100, 100, 0.8);
$borderSub: 1px solid #49494980;

// Fonts
$sans: "GeneralSans-Regular", sans-serif;
$sansmed: "GeneralSans-Medium", sans-serif;
$sansbold: "GeneralSans-Semibold", sans-serif;
